<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Base styles -->
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <!-- Component styles -->
    <link rel="stylesheet" href="{{ '/css/header.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/footer.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/project-list.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/blog-list.css' | url }}">
    {% if additionalCSS %}
        {% for css in additionalCSS %}
        <link rel="stylesheet" href="{{ css | url }}">
        {% endfor %}
    {% endif %}
</head>
<body>

    {% include "partials/header.njk" %}

    <main>
      {{ content | safe}}
      </main>
    {% include "partials/footer.njk" %}
</body>
</html>