/* nav {
    background-color: var(--header-background-color);
    padding: 1em 40px;
    margin-top: 2em;
}
nav ul {
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: none;
} */