  <header>
    <div class="header-layout">
      <a href="{{ '/' | url }}" class="logo" aria-label="Startseite">
        <img src="{{ '/images/Bildmarke.svg' | url }}" alt="Logo" />
      </a>
      <div class="menu-icon">
        <div class="burger-icon visible" onClick="showMenu()">
          <img src="{{ '/images/burger-menu.svg' | url }}">
        </div>
        <div class="close-icon" onClick="hideMenu()">
          <img src="{{ '/images/close-menu.svg' | url }}">
        </div>
      </div>
      <nav>
        <ul>
          <li>
            <a href="{{ '/projects/' | url }}">Projekte</a>
          </li>
          <li>
            <a href="{{ '/about/' | url }}">Über mich</a>
          </li>
          <li>
            <a href="{{ '/contact/' | url }}" class="contact">Kontakt</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

    <!-- Hero Section -->
  <section class="hero" aria-label="Hero">
    <img class="background" src="{{ '/images/Group 7.png' | url }}" alt="Background Gradient" />
    <div class="hero-layout">
      <h1>{{ herotitle }}</h1>
      <h2>{{ herosubtitle }}</h2>

      <p class="header-subtitle">
        Hey, ich freue mich, dir hier meine Projekte zu präsentieren. <br>Sie sind das Ergebnis meiner Zusammenarbeit
        mit verschiedenen Personen und Unternehmen.
      </p>

      <button class="primary-button">
        <a href="{{ '/projects/' | url }}" class="btn latest-projects">latest.projects</a>
      </button>
    </div>
  </section>